window {
  margin: 0px;
  border: 2px solid #b4befe;
  background-color: rgba(30, 30, 46, 0.8);
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 400;
  font-size: 18px;
}

#outer-box {
  margin: 10px;
  border: none;
  background-color: transparent;
}

#input {
  margin: 10px;
  border: 2px solid #45475a;
  color: #cdd6f4;
  background-color: rgba(49, 50, 68, 0.8);
  border-radius: 0px;
}

#inner-box {
  margin: 10px;
  border: none;
  background-color: transparent;
}

#scroll {
  margin: 5px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #b4befe;
  border-radius: 0px;
  outline: none;
}

#entry:selected #text {
  color: #1e1e2e;
}
